<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
</head>
<body>
	<h1>Welcome Home!</h1>
	<span>Please <a href="/login">login</a> or <a href="/register">register</a>.</span>
	<p><a href="/logout">Logout</a></p>

<p>The quick brown developer jumped over the lazy dog's back. The quick brown 
	developer jumped over the <span class="lazy">lazy</span> dog's back.The quick brown developer jumped over 
	the lazy dog's back.The quick brown developer jumped over the lazy dog's back. 
	The quick brown developer jumped over the lazy dog's back.The quick brown 
	developer jumped over the lazy dog's back.</p>


</body>
</html>
